/*Codigo css de primes*/
body,html{
	width: 100%;
	height: 100%;
	color: #092b4d;
	font-size: 	18px;
	font-family: 'Alegreya', serif;
}
a{
	text-decoration: none;
}
a:active,
a:hover,a:focus{
	text-decoration: none;
}
/*header*/
nav{
	padding: 10px 5%;
}
.icon-bar{
	background-color: #ffffff;
}
.nav-bar{
	position: fixed;
	padding-top: 2%;
}
.navbar-nav {
	background-color: transparent;
	padding-top: 10px;
}
.nav li a{
	color: rgba(255, 255, 255, 0.8);
	padding: 7px 5px;
	margin: 0 15px;
}
.active li a,
.navbar-brand{
	color: #fff !important;
}
.nav > li > a:focus,
.nav>li>a:hover{
	color: #ffffff;
	transition:0.3s;
	background-color: transparent;
}
.active a{
	border-bottom: 2px solid #fff !important;
	color: #fff !important;
}
.navbar-brand:hover{
	opacity: 0.8;
	transition:0.5s;
	color: white;
}
.navbar-header a{
	font-size: 1.6em;
}
/*hero-image*/
.bg-dark{
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	position: absolute;
}
.hero-image{
	height: 100%;
	background: url("../img/background/hero2.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.hero-image i{
	font-size: 45px;
	color: #fff;
	margin-top: 7%;
	border-radius: 100%;
}
.hero-image a i:hover{
	color: #4D4D4D;
}
.phase{
	margin-top: 15%;
	color: #fff;
}
.phase h1{
	font-size: 52px;
	font-family: 'Nunito', sans-serif;
	font-weight: 600;
}
.phase .btn{
	padding: 1.5%;
	display: inline-block;
	color: #fff;
	display: inline-block;
	font-size: 1.3em;
	line-height: 1em;
	font-weight: 600;
	margin: 2% 5%;
	background-color: #D9515A;
}
.phase .btn:hover{
	background-color: #CDD8E0;
	color: #D9515A; 
	transition: 0.5s;
}
/*about*/
.about,
.contact-us{	
	background-color: #f4f4f4;
	padding: 5% 0%;
}
.about h2,
.skill h2{
    font-weight: 400;
    font-size: 42px;
    color: #363c46;
    padding: 2% 0% 2%;
    font-family: 'Nunito', sans-serif;
}
.img-about {
	width: 200px;
	height: 200px;
	border-radius: 100%;
	background-color: purple;
	margin: auto;
}
.img-about img{
	width: 100%;

	border-radius: 100%;
}
.about .description{
	margin-top: 5%;	
	text-align: justify;
}
/*follow us*/
.follow-us{
	padding: 7% 0% ;
}
.follow-us .icon{
	display: inline-block;
	width: 60px;
	height: 60px;
	background-color: #d9515a;
	padding: 3% 2%;
	border-radius: 100%;
	margin: 0% 2%;
	color: #fff;
}
.follow-us .icon i:hover{
	color: #092b4d;
	transition: 1s;
}
.follow-us .icon i{
	font-size: 30px;
	color: #fff;
	margin: 0% 15%;
	display: inline-block;
}
/*skill*/
.skill{
	background-color: #fff;
	padding: 5% 0%;
}
.chart {
  display: inline-block;
  width: 95px;
  height: 95px;
  margin: 15px 10px 5px;
  vertical-align: top;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 22px;
}
.chart span {
  display: block;
  font-size: 2em;
  font-weight: normal;
}
.chart canvas {
  position: absolute;
  left: 0;
  top: 0;
}

/*portfolio*/
.portfolio{
	background-color: #f4f4f4;
	padding: 5% 9% 0%;
}
.portfolio h2,
.contact-us h2{
    font-weight: 400;
    font-size: 42px;
    padding: 2% 0% 2%;
    color: #363c46;
    font-family: 'Nunito', sans-serif;
}
.portfolio h3{
	font-weight: 400;
	padding-top: 6px;
	color: #092b4d;
	font-family: 'Nunito', sans-serif;
}
.portfolio .col-xs-12{
    margin-bottom: 30px;
}
.portfolio img{
	width: 100%;
}
.wrapper-photo{
	overflow: hidden;
	-webkit-transition: -webkit-transform .6s cubic-bezier(.19, 1, .22, 1);
    transition: transform .6s cubic-bezier(.19, 1, .22, 1);
}
.wrap:hover .wrapper-photo{
	-webkit-transform: scale(1.25);
    transform: scale(1.25);
}
.item{
	width: 100%;
	left: 0;
	top: 0;
	padding: 3px;
	margin:0;
	overflow: hidden;
}
.item-wrapper{
	background-color: #ffffff;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    padding: 7px 7px 27px;
}
.wrap{
	width: 100%;
	overflow: hidden;
	position: relative;
	z-index: 0;
	display: block;
}
.shadow-photo{
	background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: block;
    opacity: 0;
}
/*call to action*/
.cta{
	background-color: #d9515a;	
	background-size: cover;
	padding: 5% 0% 3%;
	position: relative;
}
.cta p{
	font-weight: 400;
	font-size: 45px;
	color: #fff;
	font-family: 'Great Vibes', cursive;
}
/*contact-us*/
.contact-us .row{
	padding: 0% 10%;
}
.contact-us p,
.contact-us .information{
	padding: 7% 15%;
}
.contact-us i{
	display: inline-block;
	font-size: 20px;
	color: #d9515a;
}
.contact-us h4{
	display: inline-block;
	font-size: 0.9em;
	font-weight: 300;
	padding: 1% 2% 2%;
}
input, textarea {
	width:100%;
	height:48px;
	border: 1px solid #E2E0E0;
	padding:6px;
	margin:1% 0%;
	font-size:1em;
	color:black;
}
textarea {
	height:126px;	
}
#submit{
	color: white;
	width:100%;
	height:48px;
	border:none;
	margin:1% 0%;
	cursor:pointer;
	background-color: #d9515a;
	border-radius: 2px;
}
#submit:hover,
.about-me .btn:hover{
	background-color: #fff;
	color: #EF7674;
	border: 2px solid #EF7674;
}
#nombre,
#email,
#mensaje{
	padding: 5px 5px 5px 25px;
    background-size: 34px 17px;
    background-position: -5px 14px;
    background-repeat: no-repeat;
}
#nombre{
   background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
}
#email{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
}
#mensaje{
	background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
}
/*footer*/
footer{
	background-color: #fff;
	color: #4D4D4D;
	padding: 1%;
	font-size: 1em;
}
footer a{
	color: #E07094;
}
/*media queries*/
@media (max-width: 940px) {	
	.phase h1{
		font-size: 2.5rem;
		padding-top: 23%;
	}
}
@media (max-width: 768px) {	
	.phase h1{
		font-size: 1.8em !important;
		padding-top: 20% !important;
	}
	.phase a{
		font-size: 0.9em !important;
	}
	.contact-us p,
	.contact-us .information{
		padding: 3% 0%;
		text-align: center;
	}
	.about .description{
		padding: 0% 5%;
	}
	.cta p{
		font-size: 32px;
	}
}
@media (max-width: 360px) {
	h2{
		font-size: 1.5em !important;
	}
	.phase h1{
		text-align: center;
		font-size: 1.6em !important;
		margin-top: 20%;
	}
	.cta p{
		font-size: 1.5em;
	}
}